{
  "extends": [
    "airbnb"
  ],
  "env": {
    "jest": true
  },
  "parser": "babel-eslint",
  "plugins": [
    "react",
    "jsx-a11y",
    "import"
  ],
  "globals": {
    "document": true
  },
  "rules": {
    "react/jsx-filename-extension": 0
  }
}
